.border-remove__right {
    border-end-end-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.border-remove__left {
    border-start-start-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}