<div class="card mt-3 col-10 mx-auto" *ngFor="let blog of userBlogs">
  <div class="card-body d-flex justify-content-between">
    <div class="blog-info">
      <h2>{{ blog.topic }}</h2>
      <p class="text-secondary fw-bold">Posted by: {{ blog.postedBy }}</p>
      <p>{{ blog.message }}</p>
    </div>
    <div
      class="blog-time d-flex align-items-center flex-column justify-content-center"
    >
      <p class="text-secondary">
        <fa-icon [icon]="faClock"></fa-icon> {{ blog.date }}
      </p>
      <ng-container *ngIf="blog.postedBy === userName || signIn">
        <div>
          <button
            type="button"
            class="btn btn-warning border-remove__right"
            data-bs-toggle="modal"
            data-bs-target="#addModalEdit"
            (click)="editBlog(blog)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger border-remove__left"
            (click)="deleteBlog(blog)"
          >
            Delete
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="addModalEdit">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add post</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="mb-3">
          <label for="title" id="title" class="form-label">Title:</label>
          <input
            type="title"
            aria-label="Title"
            class="form-control"
            [(ngModel)]="title"
          />
        </div>

        <div class="mb-3">
          <label for="text" for="pwd" id="pwd" class="form-label">Text:</label>
          <textarea
            class="form-control"
            id="floatingTextarea"
            [(ngModel)]="text"
          ></textarea>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          [disabled]="post"
          (click)="saveBlog()"
        >
          Edit Post
        </button>
      </div>
    </div>
  </div>
</div>
