<!-- The Modal -->
<div class="modal fade" id="signUp">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sign up</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="mb-3">
          <label for="input" for="pwd" id="pwd" name class="form-label"
            >Username:</label
          >
          <input
            type="input"
            aria-label="First name"
            class="form-control"
            [(ngModel)]="username"
          />
        </div>

        <div class="mb-3">
          <label for="email" id="email" class="form-label">Email:</label>
          <input
            type="email"
            aria-label="First name"
            class="form-control"
            [(ngModel)]="email"
          />
        </div>

        <div class="mb-3">
          <label for="password" for="pwd" id="pwd" name class="form-label"
            >Password:</label
          >
          <input
            type="password"
            aria-label="First name"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="resetForm()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          [disabled]="!signUp"
          (click)="addUser()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
